################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Controle_Regina_Cliente/Conexao BD/Conexao_Cliente.cs
/Controle_Regina_Cliente/Program.cs
